body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Фіксоване зображення фону */
    background-blend-mode: overlay; /* Змішування кольору з зображенням */
  }
  
  /* Шапка */
  .header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: url('images/header_background.png'); /* Фон-картинка */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-radius: 0 0 15px 15px; /* Заокруглення лише нижніх кутів */
    overflow: hidden; /* Обрізання фону за межами контейнера */
  }
  
  .header-buttons {
    display: flex;
    position: fixed;
    top: unset;
    gap: 15px;
    background-color: #333;
    padding: 10px;
    border-radius: 15px;
    transition: gap 0.3s ease, top 0.3s ease;
  }
  
  .header-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, font-size 0.3s ease;
  }
  
  .header-button:hover {
    background-color: #555;
  }
  
.auth-buttons {
  position: fixed;
  top: auto;
  right: 20px;
  display: flex;
  justify-content: unset;
  gap: 10px;
  transition: top 0.3s ease, right 0.3s ease, gap 0.3s ease, justify-content 0.3s ease;
}

.auth-button {
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: font-size 0.3 ease;
}

.login-button {
  background-color: #008CBA;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #007B9A;
}

.register-button {
  background-color: #e29d1e;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #da834a;
}
  
  /* Основний контент */
  main {
    margin-top: 100px;
  }

  /* Попередження на форумі */
  .warning1 {
    position: relative;
    top: 200px;
    padding: 20px;
    background-color: rgba(145, 145, 145, 0.3);
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1;
}

.server-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1010;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: display 0.3s ease, top 0.4s ease;
}

@media (max-width: 750px) {
  .logo {
    top: -100px;
  }
}

@media (max-width: 700px) {
  .logo {
    display: none;
  }
}

@media (max-width: 1238px) {
  .auth-buttons {
    top: 63px;
    justify-content: center;
    right: unset;
    gap: 7px;
  }
  .header-main {
    height: 110px;
  }
  .header-buttons {
    gap: 4px;
    top: 5px;
  }
  .header-button {
    font-size: 13px;
  }
}

@media (max-width: 575px) {
  .auth-buttons {
    top: 68px;
    justify-content: center;
    right: unset;
    gap: 7px;
  }
  .auth-button {
    font-size: 14px;
  }
  .header-main {
    height: 120px;
  }
  .header-button {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .auth-buttons {
    top: 78px;
    justify-content: center;
    right: unset;
    gap: 7px;
  }
}