body {
    margin: 0;
    height: 100vh; /* Займає всю висоту вікна браузера */
    display: flex;
    justify-content: center; /* Горизонтальне вирівнювання */
    align-items: top; /* Вертикальне вирівнювання */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Фіксоване зображення фону */
    background-blend-mode: overlay; /* Змішування кольору з зображенням */
  }
  
  /* Шапка */
  .header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: url('images/header_background.png'); /* Фон-картинка */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-radius: 0 0 15px 15px; /* Заокруглення лише нижніх кутів */
    overflow: hidden; /* Обрізання фону за межами контейнера */
  }
  
  .header-buttons {
    display: flex;
    position: fixed;
    top: unset;
    gap: 15px;
    background-color: #333;
    padding: 10px;
    border-radius: 15px;
    transition: gap 0.3s ease, top 0.3s ease;
  }
  
  .header-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, font-size 0.3s ease;
  }
  
  .header-button:hover {
    background-color: #555;
  }
  
.auth-buttons {
  position: fixed;
  top: auto;
  right: 20px;
  display: flex;
  justify-content: unset;
  gap: 10px;
  transition: top 0.3s ease, right 0.3s ease, gap 0.3s ease, justify-content 0.3s ease;
}

.auth-button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, font-size 0.3 ease;
}
  /* Зміна кольору кнопок при наведенні */
  .header-button:hover {
    background-color: #555;
  }
  
  /* Основний контент */
  main {
    margin-top: 100px;
  }
  
  .login-button:hover {
    background-color: #007B9A;
  }
  
  .register-button {
    background-color: #e29d1e; /* Зелений колір */
  }
  
  .register-button:hover {
    background-color: #da834a;
  }

  .mod-image {
    width: 854px;
    height: 480px;
    border-radius: 10px;
}

  /* Попередження на форумі */
  .content1 { 
    width: 1000px;
    padding: 20px;
    background-color: rgba(145, 145, 145, 0.3);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
}

.desc_end {
  border-bottom: 1px solid #555;
  padding: 10px;
}

.download-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  background-color: #28a745; /* Зелений фон */
  text-decoration: none; /* Вимкнути підкреслення */
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.1s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Зміна кольору та анімація при наведенні */
.download-button:hover {
  background-color: #218838;
}

/* Ефект натискання */
.download-button:active {
  transform: scale(0.98);
}

@media (max-width: 1238px) {
  .auth-buttons {
    top: 63px;
    justify-content: center;
    right: unset;
    gap: 7px;
  }
  .header-main {
    height: 110px;
  }
  .header-buttons {
    gap: 4px;
    top: 5px;
  }
  .header-button {
    font-size: 13px;
  }
}

@media (max-width: 575px) {
  .auth-buttons {
    top: 68px;
    justify-content: center;
    right: unset;
    gap: 7px;
  }
  .auth-button {
    font-size: 14px;
  }
  .header-main {
    height: 120px;
  }
  .header-button {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .auth-buttons {
    top: 78px;
    justify-content: center;
    right: unset;
    gap: 7px;
  }
}